* {box-sizing: border-box;
}


body {
	margin: auto;
	font-family: "arial", "Helvetica Neue", "sans-sarif";
	font-size: 18px;
	background: #777;
	width: 960px;
	text-align: center;
}

header {
	margin: 10px;
	padding: 40px;
	background: #ebebeb;
	color: #777;
}

nav {
	margin: 10px;
	padding: 40px;
	background: #ebebeb;
	color: #777;
}

section {
    position: relative;	
	margin: 10px;
	padding: 30px 10px 0px 10px;
	background: #ebebeb;
	color: #777;
	width: 495px;
	height: 260px;
	float: left;
}

article {
	position: relative;
	top: 20px;
	padding: 15px;
	background: #777;
	color: #ebebeb;
	height: 180px;
}

h1 {
	padding: 10px;
	background: #ebebeb;
	color: #777;
}

p {
	padding:10px;
	background: #ebebeb;
	color: #777;
}

aside {
	margin: 10px;
	padding: 30px;
	float: right;
	width: 425px;
	height: 260px;
	background: #ebebeb;
	color: #777;
}

footer {
	clear: both;
	position: relative;
	top: 10px;
	margin: 10px;
	padding: 40px;
	background: #ebebeb;
	color: #777;
}